<div class="image">
<div class="titleDesignLogin">

  <img src="../../../../assets/Images/logo.png" width="130" height="130">
  Log In
</div>

<form [formGroup]="loginForm">
  <app-input [keyword]="'EMAIL'" [type]="'text'" [for]="'email'" formControlName="email"></app-input>
  <app-input [keyword]="'PASSWORD'" [type]="'password'" [for]="'email'" formControlName="password"></app-input>



  <div class="loginButtonsAlignment">
    <app-button [keyword]="'LOG IN'" [buttonColor]="'loginBtnRed'" (click)="submitForm()"></app-button>
  </div>

  <div class="registerBtnAlign">
    <app-button [keyword]="'REGISTER'" [buttonColor]="'loginBtnRed'" routerLink="/register"></app-button>
  </div>


</form>
</div>

