.titleDesignLogin{
  font-family: Roboto, sans-serif;
  font-size: 105px;
  color: #737373;
  text-align: center;
  padding-bottom: 2%;
}

.loginButtonsAlignment{
  text-align: center;
  margin: 5%;
}

