@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.titleDesignRegister{
   font-family: "Roboto Thin", sans-serif;
   font-size: 105px;
   color: #737373;
  padding-bottom: 2%;
 }

.submitButtonAlignment{
  padding-top: 10%;
}
