<div class="image">
  <div class="titleDesignRegister">
    <img src="../../../../assets/Images/logo.png" width="130" height="130">
    Register form
  </div>

  <form [formGroup]="hospitalCreateForm">

    <app-input [keyword]="'HOSPITALNAME'" [type]="'text'" [for]="'email'" formControlName="hospitalName"></app-input>
    <app-input [keyword]="'STREET'" [type]="'text'" [for]="'city'" formControlName="address"></app-input>
    <app-input [keyword]="'EMAIL'" [type]="'text'" [for]="'email'" formControlName="email"></app-input>
    <app-input [keyword]="'PASSWORD'" [type]="'password'" [for]="'email'" formControlName="password"></app-input>

    <div style="text-align: center; padding-top: 2%; margin-bottom: 2%;">
      <app-button class="registerBtnAlign" [keyword]="'REGISTER'" [buttonColor]="'loginBtnRed'"
                  (click)="submitForm()"></app-button>
    </div>
  </form>

</div>
