

<mat-card class="mat-elevation-z5">
  <mat-card-title>About us</mat-card-title>

  <mat-card-subtitle>
    Bloodnation is a platform for people that want to be, or already are blood donors and for people that are
    in a need for blood.
  </mat-card-subtitle>
    <mat-card-subtitle>
    We've seen horrible news, about hospitals that will not do surgeries because of lack
    of blood for the patient. In this case the family of the patient reaches out to local and social media
    begging other people for help. This action causes a delay, a delay that not many people have the luxury
      for. If only there was something to be done about it...
    </mat-card-subtitle>
  <mat-card-subtitle>
      With the help of Bloodnation, hospitals will have a more reliable source of blood, so the patients
    will have the maximum chances of survival. It's job is very simple - find blood donors when they are and
    also when they aren't needed
  </mat-card-subtitle>
</mat-card>

<div style="text-align: center">
  <img src="../../../assets/Images/mile.png" alt="">
</div>
