.dropdown:hover>.dropdown-menu {
  display: block;
}

.bg {
  background-color: #600706 !important;
}

.dropdown-item:hover{
  background-color: rgba(255,255,255,0.1);
}

.white{
  color:white !important;
}
