<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="Back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label primary floating>Emai:</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label primary floating>Password:</ion-label>
    <ion-input [(ngModel)]="pass"></ion-input>
  </ion-item>
  <ion-button (click)="loginUser()">
    Login
  </ion-button>
  <ion-button (click)="registerUser()">
    Register
  </ion-button>
</ion-content>
